@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;}

body {
    background-image: linear-gradient(to top, rgb(196, 46, 46), rgb(79, 79, 175));
}

main {
    background-color: beige;
    width: 600px; /*largura*/
    padding: 10px;
    margin: auto; /*Ele sempre vai centralizar*/
    box-shadow: 5px 5px 15px #000; /*Sombra*/
}

h1 {color: blue;
text-align: center; /*Alinhar o Texto*/}

H2 {color: rgb(189, 33, 33);}

p {
    text-align: justify;

}