@charset "UTF8";

header {

    background-color: rgb(212, 212, 185);
    border-radius: 10px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding-bottom: 5px;
}

header > h1 {

    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 8px;

}

nav {

    background-color: bisque;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-indent: 30px;
    box-shadow: 2px 2px 2px;
   justify-content: left;
   gap: 10px;

   }

@media screen and (max-width: 500px){

    nav { display: flex;
    flex-direction: column;
gap: 5px;}
    
}
    

    

nav a {
    text-decoration: none;
    color: rgb(44, 192, 81); 
background-color: rgb(22, 22, 187);
padding-right: 15px;
border-radius: 30px;
height: 23px;
color: rgb(115, 255, 0);
font-weight: bolder;
width: 100px;
display: flex;
justify-content: right;

}



.b {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
    font-weight: bolder;
    display: inline-flex;
    margin-top: 50px;
}

article > img {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    margin-left: 45%;
    background-size: cover;
    
    
}

.F {
   display: flex;
    margin: 100px;
    margin-left: 51%;
    margin-top: 5px;
    
}
