@charset "UTF-8";

* {padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


section {

    border: 2px solid black;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 2px 3px 2px 2px rgb(22, 22, 22);

}

#login {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: beige;

}

#image {

    background:beige url(back-phone.jpg);
    height: 230px;
    background-size: cover;
    background-position: right center;
    overflow: hidden;

}

section form {
display: block;
    padding: 5px;
}

.l {

    text-align: center;
    color: blue;

}

.e {

    display: block;
    margin: auto;
   width: 100px;
   font-weight: bolder;
   font-size: 16px; }

   p {

    text-indent: 10px;
    font-weight: bold;
   }

    .material-icons {

position: relative;
top: 8px;
left: -36px;
    color: rgb(41, 4, 252);
   }

   input {

    border: 2px solid rgb(255, 30, 0);
    height: 25px;
   }

   .com {

    background-color: rgba(217, 255, 0, 0.747);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 0.1px;
   }

button {
position: relative;
top: 10px;
}

   @media screen and (min-width: 768px) and ( max-width: 992px){

    #login {

        width: 90vw;
    }

    .material-icons {

position: relative;
top: 8px;
left: -37px; 
color: rgb(0, 255, 55);}

    #image {
        float: left;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: right center;
    }

 form {

        float: right;
        width: 50%;
    }
    
   }

@media screen and (min-width: 992px) {

    #login {

        width: 990px;
    }

    .material-icons {

position: relative;
top: 8px;
left: 200px; 
color: rgb(255, 0, 0);}

    #image {

        float: right;
        width: 50%;
        height: 100%;
    }

    form {

        float: left;
        width: 50%;
        background-image: linear-gradient(40deg,beige, blue);
        height: 100%;


    }

    .l {

        color:rgba(229, 255, 0, 0.979);
    }

    p {

        text-indent: 50px;
    }

    .material-icons {

    position: relative;
    left: -76px; } 
}